body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

 ul {
   position: relative;
   display: flex;
   transform-style: preserve-3d;
   
 }
 
 ul li {
   position: relative;
   list-style: none;
   width: 0px;
   height: 0px;
   margin: 0 0px;
 }
 
 ul li::before {
   content: "";
   position: relative;
   bottom: -10;
   left: 0;
   width: 100%;
   height: 10px;
   background: #553f3f;
   transform-origin: top;
   
 }
 
 ul li::after {
   content: "";
   position: relative;
   top: 0;
   left: -9;
   width: 9px;
   height: 100%;
   background: #2a2a2a;
   transform-origin: right;
   transform: skewY(-41deg);
 }
 
 ul li span {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #333;
   color: rgba(255, 255, 255, 0.2);
   font-size: 30px !important;
   transition: 0.2s;
 }
 
 ul li:hover span {
   z-index: 1000;
   transition: 0.5s;
   color: #fff;
   box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
 }
 
 ul li:hover span:nth-child(5) {
   transform: translate(20px, -20px);
   opacity: 1;
 }
 ul li:hover span:nth-child(4) {
   transform: translate(15px, -15px);
   opacity: 0.8;
 }
 ul li:hover span:nth-child(3) {
   transform: translate(10px, -10px);
   opacity: 0.6;
 }
 ul li:hover span:nth-child(2) {
   transform: translate(5px, -5px);
   opacity: 0.4;
 }
 ul li:hover span:nth-child(1) {
   transform: translate(0px, -0px);
   opacity: 0.2;
 }
 
 ul li:nth-child(1):hover span {
   background: #3b5999;
 }
 
 ul li:nth-child(2):hover span {
   background: #55acee;
 }
 
 ul li:nth-child(3):hover span {
   background: #25d366;
 }
 
 ul li:nth-child(4):hover span {
   background: #e4405f;
 }
 
 ul li:nth-child(5):hover span {
   background: #0077b5;
 }
 
 
 
 ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  margin: 10px;
  height: 60px;
  
}

ul li::before {
  content: "";
  position: relative;
  bottom: -10;
  left: 0;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  
}

ul li::after {
  content: "";
  position: relative;
  top: 0;
  left: -9;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-41deg);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px !important;
  transition: 0.2s;
}


body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: center;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.253);
  font-size: 3.3rem;
  z-index: 1;
}
.wave span {
  position: absolute;
  top: 5rem;
  left: 0;
}
.wave span:nth-child(1) {
  width: 300rem;
  height: 300rem;
  animation: animate 4s linear infinite;
  -webkit-animation: animate 4s linear infinite;
  background-color: #0ad2ff;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
.wave span:nth-child(2) {
  width: 310rem;
  height: 310rem;
  animation: animate 8s linear infinite;
  -webkit-animation: animate 8s linear infinite;
  background-color: royalblue;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
.wave span:nth-child(3) {
  width: 320rem;
  height: 320rem;
  animation: animate 12s linear infinite;
  -webkit-animation: animate 12s linear infinite;
  background-color: #0537422c;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
.wave span:nth-child(3) {
  width: 280rem;
  height: 280rem;
  animation: animate 17s linear infinite;
  -webkit-animation: animate 17s linear infinite;
  background-color: rgb(197, 60, 212);
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  opacity: 0.6;
}
@keyframes animate {
  0% {
    transform: translateY(-95%) translateX(-30%) rotate(0deg);
    -webkit-transform: translateY(-95%) translateX(-30%) rotate(0deg);
    -moz-transform: translateY(-95%) translateX(-30%) rotate(0deg);
    -ms-transform: translateY(-95%) translateX(-30%) rotate(0deg);
    -o-transform: translateY(-95%) translateX(-30%) rotate(0deg);
  }
  100% {
    transform: translateY(-95%) translateX(-30%) rotate(360deg);
    -webkit-transform: translateY(-95%) translateX(-30%) rotate(360deg);
    -moz-transform: translateY(-95%) translateX(-30%) rotate(360deg);
    -ms-transform: translateY(-95%) translateX(-30%) rotate(360deg);
    -o-transform: translateY(-95%) translateX(-30%) rotate(360deg);
  }
}